src/.libs
src/*.o
src/*.lo
src/*.la
*.log
**/Makefile*
mecabrc
mecab-config
config.h
config.status
libtool
src/mecab
src/mecab-cost-train
src/mecab-dict-gen
src/mecab-dict-index
src/mecab-system-eval
src/mecab-test-gen
stamp-h1
mecab.iss

a.out
a.out.js